@charset "UTF-8";
@import "./util";

.main{
    .container{
        padding-top: 0;
        .contents{
            padding-bottom: var(--padding-layout-y);
        }
    }

    .sec-tit{
        display: flex;
        align-items: center;
        margin-bottom: var(--gap-5);
        color: var(--color-text-bolder);
        font-size: var(--typo-title-xlarge);
        font-weight: 600;

        .btn{
            margin-left: auto;
        }
    }
}

//검색page
.recent-search{
    .tag-list{
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-3);
        //@include scroll-x();
        font-size: var(--typo-body-small);

        li{
            display: flex;
            align-items: center;
            flex-shrink: 0;
            gap: var(--gap-2);
            padding: var(--space-4) var(--space-5);
            line-height: 1;
            background-color: var(--color-bg-gray);
            border-radius: var(--border-radius-max);

            .btn-icon{
                .icon{
                    background-color: var(--btn-icon-color-gray);
                }
            }
        }
    }
}
.recommend-list{
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-1) var(--gap-6);
        font-size: var(--typo-body-small);

        li{
            $length: 10;
            $start: ($length/2 + 1);
            @for $i from $start to $length{
                $row: $i - ($start - 1);
                &:nth-child(#{$i}){
                    grid-row: $row;
                    grid-column: 2;
                }
            }
            a{
                display: block;
                padding: var(--space-2) 0;
            }
            strong{
                display: inline-block;
                margin-right: var(--gap-2);
                width: 1.6rem;
            }
        }
    }
}


//detail
.detail-store{
    .contents{
        padding-top: 0;
        padding-bottom: 0;
    }
    .store-info{
        .visual-img{
            margin: calc(var(--header-height) * -1) calc(var(--padding-layout-x) * -1) 0;
            @include img-response(70%);
        }
        .txt-wrap{
            margin: var(--gap-6) 0 var(--gap-5);
            text-align: center;
            .store-info-list{
                margin-top: var(--gap-3);
                justify-content: center;
            }
        }
        .detail-info{
            $icon-size: var(--icon-size-small);
            $info-txt-size: var(--typo-body-medium);
            $icon-pos-top: calc((#{$info-txt-size} * var(--base-line-height) - #{$icon-size}) / 2);

            margin: var(--gap-5) 0;
            font-size: $info-txt-size;
            li{
                position: relative;
                padding-left: calc(#{$icon-size} + var(--gap-2));
                margin-bottom: var(--gap-5);
                &:last-child{
                    margin-bottom: 0;
                }

                //icon
                &::before{
                    content: '';
                    position: absolute;
                    top: $icon-pos-top;
                    left: 0;
                }

                $className : delivery, location, time;
                @each $name in $className {
                    &.#{$name}{
                        &::before{
                            @include icon('#{$name}.svg', $size: $icon-size, $color: var(--icon-color-gray-light));
                        }
                    }
                }
            }
            .btn-more{
                display: flex;
                align-items: center;
                gap: var(--gap-2);
                &::after{
                    content: '';
                    display: inline-block;
                    @include icon('arrow.svg', $size: var(--icon-size-small), $color: var(--icon-color-gray));
                }
            }
            .more-txt{
                display: none;
                color: var(--color-text-gray-light);

                &.show{
                    display: block;
                }
            }
        }
        .btn-more-wrap{
            .btn{
                padding: var(--space-9) 0;
                width: 100%;
                border-top: var(--border-width) solid var(--color-border-basic);
            }
        }
    }
    .product-list{
        .product{
            .product-tit{
                padding-top: var(--gap-6);
                font-size: var(--typo-title-xlarge);
                font-weight: 700;
            }
            .list{
                li{
                    border-bottom: var(--border-width) solid var(--color-border-basic);
                    a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: var(--gap-4);
                        padding: var(--gap-6) 0;
                    }
                    &:last-child{
                        border-bottom-width: 0;
                    }
                }
                .tit{
                    font-size: var(--typo-title-large);
                    font-weight: 500;
                    ~ .desc{
                        margin-top: var(--gap-2);
                    }
                }
                .desc{
                    font-size: var(--typo-body-small);
                    color: var(--color-text-gray-light);
                    @include ellipsis(2);
                }
                .price{
                    margin-top: var(--gap-4);
                    font-size: var(--typo-body-medium);
                    font-weight: 600;
                }
                .badge{
                    display: inline-block;
                    margin-top: var(--gap-2);
                }
                .img-wrap{
                    @include img-response(100%);
                    flex-shrink: 0;
                    width: 10rem;
                    height: 100%;
                    border-radius: var(--border-radius-large);
                }
            }
        }
    }
}

//menu-select
.menu-select{
    .img-wrap{
        margin: calc(var(--header-height) * -1) calc(var(--padding-layout-x) * -1) 0;
    }
    .txt-wrap{
        padding: var(--gap-6) 0;
        .desc{
            margin-top: var(--gap-2);
            font-size: var(--typo-body-small);
            color: var(--color-text-gray);
        }
    }
}

.option-list{
    > .item{
        &:last-child::after{
            display: none;
        }
        &::after{
            content: '';
            display: block;
            margin: 0 calc(var(--padding-layout-x) * -1);
            height: var(--border-width-large);
            background-color: var(--color-border-basic);
        }
    }

    .tit-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--gap-5) 0;
    }
    .tit{
        font-size: var(--typo-body-large);
        font-weight: 600;
    }
    .price{
        font-size: var(--typo-body-medium);
        font-weight: 600;
    }

    .select-list, .radio-list{
        label{
            display: flex;
            align-items: center;
            padding: var(--gap-5) 0;
        }
        .price{
            margin-left: auto;
        }
    }
}

//together-order
.together-order{

}

//cart
.cart{
    .nodata{
        margin-top: var(--gap-6);
        padding: 4rem 2rem;
        text-align: center;
        p{
            margin-bottom: var(--gap-6);
            font-size: var(--typo-body-medium);
            color: var(--color-text-gray);
        }

        .btn{
            margin: 0 auto;
            width: fit-content;
        }
    }

    .cart-list{
        $box-padding: 2rem;
        $thumb-img-size: 6rem;
        $btn-delete-size: var(--icon-size-small);
        > li{
            position: relative;
            display: flex;
            gap: var(--gap-5);
            padding: $box-padding;

            &::after{
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                display: block;
                width: calc(100% - #{$box-padding * 2});
                height: var(--border-width);
                background-color: var(--color-border-dark);
            }
            &:last-of-type{
                &:after{
                    display: none;
                }
            }

            .img-wrap{
                flex-shrink: 0;
                width: $thumb-img-size;
                height: $thumb-img-size;
                border-radius: var(--border-radius-medium);
                @include img-response(100%);
            }
            .txt-wrap{
                width: 100%;
                .name{
                    padding-right: calc(#{$btn-delete-size} - var(--gap-6));
                    font-size: var(--typo-body-medium);
                }
                .option-list{
                    display: flex;
                    flex-direction: column;
                    gap: var(--gap-2);
                    margin-top: var(--gap-2);
                    > li{
                        font-size: var(--typo-body-xsmall);
                        color: var(--color-text-gray-light);
                    }
                    .tit{
                        font-size: var(--typo-body-xsmall);
                        font-weight: 400;
                        &::after{
                            content: '';
                            display: inline-block;
                            margin: 0 var(--gap-2);
                            width: var(--border-width);
                            height: 0.8rem;
                            background-color: var(--color-border-basic);
                        }
                    }
                }
            }
            .btn-wrap{
                margin-top: var(--gap-5);

                .btn.line{
                    margin-left: auto;
                    width: fit-content;
                    height: auto;
                }
            }
            .price{
                margin-top: var(--gap-6);
                font-size: var(--typo-body-large);
                font-weight: 600;
                text-align: right;
            }
            .btn-delete{
                position: absolute;
                right: $box-padding;
                .icon-delete{
                    width: $btn-delete-size;
                    height: $btn-delete-size;
                    background-color: var(--btn-icon-color-gray);
                }
            }
        }
    }
    .btn-menu-add{
        margin-top: var(--gap-5);
    }

    .total-info{
        padding: 2rem 2rem 0;
        margin-bottom: var(--padding-layout-y);

        dl{
            display: flex;
            justify-content: space-between;
            margin-bottom: var(--gap-5);
            font-size: var(--typo-body-medium);
            color: var(--color-text-gray);
        }
        .total-price{
            padding: var(--gap-6) 0;
            margin-bottom: 0;
            border-top: var(--border-width) solid var(--color-border-basic);
            font-size: var(--typo-body-large);
            font-weight: 500;

            dt{
                color: var(--color-text-bolder);
            }
            dd{
                font-weight: 700;
                color: var(--color-text-primary);
            }
        }
    }
}

//event
.event{
    .tit{
        font-size: var(--typo-title-medium);
        font-weight: 600;
    }
    .period{
        margin-top: var(--gap-2);
        font-size: var(--typo-body-small);
        color: var(--color-text-gray-light);
    }

    .event-list{
        li{
            padding: 2.4rem 0;
            border-bottom: var(--border-width) solid var(--color-border-basic);
            a{
                position: relative;
                gap: var(--gap-6);

                //&::after{
                //    content: '';
                //    position: absolute;
                //    top: 50%;
                //    right: 0;
                //    transform: translateY(-50%) rotate(180deg);
                //    display: block;
                //    width: var(--icon-size-medium);
                //    height: var(--icon-size-medium);
                //    @include icon('back.svg');
                //}

            }
            .img-wrap{
                @include img-response(60%);
                flex-shrink: 0;
                width: 100%;
                border-radius: var(--border-radius-large);
                img{
                    object-fit: cover;
                }
            }
            .txt-wrap{
                padding-top: 2rem;
            }
        }
    }
    &.detail{
        .img-wrap{
            margin-top: var(--gap-6);
        }
    }
}