@charset "UTF-8";
@import "./util";

.main{
    .container{
        padding-top: 0;
    }
}

//검색page
.recent-search{
    .tag-list{
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-3);
        //@include scroll-x();
        font-size: var(--typo-body-small);

        li{
            display: flex;
            align-items: center;
            flex-shrink: 0;
            gap: var(--gap-2);
            padding: var(--space-4) var(--space-5);
            line-height: 1;
            background-color: var(--color-bg-gray);
            border-radius: var(--border-radius-max);

            .btn-icon{
                .icon{
                    background-color: var(--btn-icon-color-gray);
                }
            }
        }
    }
}

.recommend-list{
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-1) var(--gap-6);
        font-size: var(--typo-body-small);

        li{
            $length: 10;
            $start: ($length/2 + 1);
            @for $i from $start to $length{
                $row: $i - ($start - 1);
                &:nth-child(#{$i}){
                    grid-row: $row;
                    grid-column: 2;
                }
            }
            a{
                display: block;
                padding: var(--space-2) 0;
            }
            strong{
                display: inline-block;
                margin-right: var(--gap-2);
                width: 1.6rem;
            }
        }
    }
}


//detail
.detail-store{
    .contents{
        padding-top: 0;
        padding-bottom: 0;
    }
    .store-info{
        .visual-img{
            margin: calc(var(--header-height) * -1) calc(var(--padding-layout-x) * -1) 0;
            @include img-response(70%);
        }
        .txt-wrap{
            margin: var(--gap-6) 0 var(--gap-5);
            text-align: center;
            .store-info-list{
                margin-top: var(--gap-3);
                justify-content: center;
            }
        }
        .detail-info{
            $icon-size: var(--icon-size-small);
            $info-txt-size: var(--typo-body-medium);
            $icon-pos-top: calc((#{$info-txt-size} * var(--base-line-height) - #{$icon-size}) / 2);

            margin: var(--gap-5) 0;
            font-size: $info-txt-size;
            li{
                position: relative;
                padding-left: calc(#{$icon-size} + var(--gap-2));
                margin-bottom: var(--gap-5);
                &:last-child{
                    margin-bottom: 0;
                }

                //icon
                &::before{
                    content: '';
                    position: absolute;
                    top: $icon-pos-top;
                    left: 0;
                }

                $className : delivery, location, time;
                @each $name in $className {
                    &.#{$name}{
                        &::before{
                            @include icon('#{$name}.svg', $size: $icon-size, $color: var(--icon-color-gray-light));
                        }
                    }
                }
            }
            .btn-more{
                display: flex;
                align-items: center;
                gap: var(--gap-2);
                &::after{
                    content: '';
                    display: inline-block;
                    @include icon('arrow.svg', $size: var(--icon-size-small), $color: var(--icon-color-gray));
                }
            }
            .more-txt{
                display: none;
                color: var(--color-text-gray-light);

                &.show{
                    display: block;
                }
            }
        }
        .btn-more-wrap{
            .btn{
                padding: var(--space-9) 0;
                width: 100%;
                border-top: var(--border-width) solid var(--color-border-basic);
            }
        }
    }
    .product-list{
        .product{
            .product-tit{
                padding-top: var(--gap-6);
                font-size: var(--typo-title-xlarge);
                font-weight: 700;
            }
            .list{
                li{
                    border-bottom: var(--border-width) solid var(--color-border-basic);
                    a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: var(--gap-4);
                        padding: var(--gap-6) 0;
                    }
                    &:last-child{
                        border-bottom-width: 0;
                    }
                }
                .tit{
                    font-size: var(--typo-title-large);
                    font-weight: 500;
                    ~ .desc{
                        margin-top: var(--gap-2);
                    }
                }
                .desc{
                    font-size: var(--typo-body-small);
                    color: var(--color-text-gray-light);
                    @include ellipsis(2);
                }
                .price{
                    margin-top: var(--gap-4);
                    font-size: var(--typo-body-medium);
                    font-weight: 600;
                }
                .badge{
                    display: inline-block;
                    margin-top: var(--gap-2);
                }
                .img-wrap{
                    @include img-response(100%);
                    flex-shrink: 0;
                    width: 10rem;
                    height: 100%;
                    border-radius: var(--border-radius-large);
                }
            }
        }
    }
}