@charset "UTF-8";

$btn-wrap-gap: var(--gap-3);

$btn-gap: var(--gap-1);
$btn-font-size: var(--typo-body-small);
$btn-font-color: var(--color-text-gray);

:root{
    --btn-wrap-gap: var(--gap-3);

    --btn-gap: var(--gap-1);
    --btn-font-size: var(--typo-body-small);
    --btn-font-color: var(--color-text-gray);
}

.btn-wrap{
    display: flex;
    gap: var(--btn-wrap-gap);
}

.btn{
    display: inline-flex;
    align-items: center;
    gap: var(--btn-gap);
    width: 100%;
    color: var(--btn-font-color);
    font-size: var(--btn-font-size);
    font-weight: 400;
    line-height: 1;

    //size
    $btn-size: small, medium, large;
    @each $size in $btn-size {
        &.#{$size}{
            height: var(--btn-height-#{$size});
            font-size: var(--btn-font-size-#{$size});

            .icon{
                width: var(--btn-icon-size-#{$size});
                height: var(--btn-icon-size-#{$size});
            }
        }
    }

    //type
    &.text{
        width: fit-content;
        height: auto;

        .icon{
            background-color: var(--btn-font-color);
        }
    }
    &.line{
        border: var(--border-width) solid var(--btn-color-line);
    }
    &.fill{
        &.primary{
            --color: var(--btn-color-font-white);
            --color-bg: var(--btn-color-fill-primary);

            color: var(--color);
            background-color: var(--color-bg);

            .icon{
                background-color: var(--color);
            }
            &.disabled{
                --color: var(--btn-color-font-white-disabled);
                --color-bg: var(--btn-color-fill-primary-disabled);
            }
        }
    }

    //round
    &.round{
        &-s{
            border-radius: var(--btn-border-radius-small);
        }
        &-m{
            border-radius: var(--btn-border-radius-medium);
        }
        &-l{
            border-radius: var(--btn-border-radius-large);
        }
    }

    &-icon{
        display: inline-flex;
        width: fit-content;
        gap: 0;

        $icon-size: small, medium, large;
        @each $size in $icon-size {
            &.#{$size}{
                height: fit-content;
                .icon{
                    width: var(--btn-icon-size-#{$size});
                    height: var(--btn-icon-size-#{$size});
                }
            }
        }
    }
}