@charset "UTF-8";
@import "../util";

@mixin variable(){
    //--header-height: 5.2rem;
    --header-padding: var(--padding-layout-x);
    --haeder-item-gap: var(--gap-3);
    --header-tit-size: var(--typo-title-medium);
    --header-icon-size: var(--icon-size-large);
}

.header{
    @include variable();

    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: var(--haeder-item-gap);
    max-width: $max-width;
    width: 100%;
    height: var(--header-height);
    padding: var(--header-padding);

    .btn-back{
        flex-shrink: 0;
        width: var(--header-icon-size);
        height: var(--header-icon-size);

        ~ .tit{
            margin-left: calc(var(--header-icon-size) * -1);
            width: 100%;
        }
    }

    .util{
        //justify-items: flex-end;
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 1.4rem;
    }

    > :only-child{
        flex: 1;
    }

    //> :last-of-type{
    //    flex: 1;
    //    justify-content: flex-end;
    //}

    .select-wrap{
        select{
            padding-right: calc(var(--icon-size-xsmall) + var(--gap-1));
            font-size: var(--font-large);
            font-weight: 600;
            appearance: none;
            @include bg('icon/icon_arrow.svg', center right, var(--icon-size-xsmall));
        }
    }

    .tit{
        font-size: var(--header-tit-size);
        font-weight: 500;
        text-align: center;
    }

    .input-wrap.search{
        width: 100%;
    }
}