@charset "UTF-8";

.header{
    display: flex;
    align-items: center;
    padding: var(--padding-layout-x);

    .util{
        justify-items: flex-end;
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }

    > :only-child{
        flex: 1;
    }

    > :last-of-type{
        flex: 1;
        justify-content: flex-end;
    }

    .select-wrap{
        select{
            padding-right: calc(var(--icon-size-xsmall) + var(--gap-1));
            font-size: var(--font-large);
            font-weight: 600;
            appearance: none;
            @include bg('icon/icon_arrow.svg', center right, var(--icon-size-xsmall));
        }
    }
}