@charset "UTF-8";

.input-wrap{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
    padding: var(--space-7) var(--space-9);
    font-size: var(--input-text-size);
    border-radius: var(--input-border-radius);
    background-color: var(--input-bg-color-gray);

    &.bg-white{
        background-color: var(--input-bg-color-white);
    }

    .input{
        display: flex;
        width: 100%;

        input{
            width: 100%;

            &::placeholder{
                color: var(--color-text-gray-lighter);
            }
        }
    }

    .btn-icon{
        flex-shrink: 0;
    }
    .delete{
        display: none;

        &.show{
            display: block;
        }
    }
}