@charset "UTF-8";

.wrap{
    overflow: hidden auto;
    margin: 0 auto;
    max-width: 1080px;
    height: 100vh;

    &.bg-gray{
        //추후 삭제
        --color-bg-gray-light: #ddd;
        background-color: var(--color-bg-gray-light);
    }
}

.container{
    overflow: auto;
    padding: 0 var(--padding-layout-x) var(--padding-layout-y);
}

section{
    margin-top: var(--gap-8);

    &:first-child{
        margin-top: 0;
    }
}