@import "../util";

.btn{
    --btn-gap: var(--gap-1);
    --btn-text-size: var(--typo-body-small);
    --btn-text-color: var(--color-text-gray);

    display: inline-flex;
    align-items: center;
    gap: var(--btn-gap);
    color: var(--btn-text-color);
    font-size: var(--btn-text-size);
    font-weight: 400;
    line-height: 1;

    &-icon{
        display: inline-block;
        width: $icon-size-medium;
        height: $icon-size-medium;
        background-color: #000;

        &.delete{

        }
        &.search{
            @include icon('search.svg');
        }
        &.cart{
            @include icon('cart.svg');
        }
        &.alarm{
            @include icon('alarm.svg');
        }
    }
}