@import "../util";

.header{
    display: flex;
    align-items: center;
    padding: $padding-layout-x;

    .util{
        justify-items: flex-end;
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }

    > :only-child{
        flex: 1;
    }

    > :last-of-type{
        flex: 1;
        justify-content: flex-end;
    }
}