@import "../util";

.search-wrap{
    display: flex;
    align-items: center;
    gap: $space-3;
    padding: $space-7 $space-9;
    font-size: $font-large;
    border-radius: $border-radius-large;
    background-color: $color-bg3;

    &.bg-white{
        background-color: $color-white;
    }

    input{
        width: 100%;

        &::placeholder{
            color: $color-txt6;
        }
    }

    .btn-icon{
        flex-shrink: 0;
    }
    .delete{
        display: none;

        &.show{
            display: block;
        }
    }
}