@import "../util";


.select-wrap{
    --select-label-text-size: var(--label-text-size);
    --select-color-placeholder: var(--input-color-placeholder);

    label{
        font-size: var(--select-label-text-size);
        font-weight: 600;
    }
    select{
        option[value=''] {
            display: none;
        }

        &:required:invalid {
            color: var(--select-color-placeholder);
        }
    }
}