@import "../util";

.main-swiper{
    position: relative;
    margin-top: $space-11;

    .txt-wrap{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: $space-11;
        padding-right: 50%;
        width: 100%;
        height: 100%;
        color: $color-white;
        z-index: 1;

        .tit{
            font-size: $font-heading-xlarge;
            font-weight: 700;
            word-break: keep-all;

            ~ .desc{
                margin-top: $space-4;
            }
        }
        .desc{
            font-size: $font-body-small;

            ~ .tit{
                margin-top: $space-4;
            }
        }
        .date{
            margin-top: $space-9;
            font-family: $pretend;
            font-size: $font-body-small;
        }
    }
    .img-wrap{
        overflow: hidden;
        position: relative;
        width: 100%;
        border-radius: $border-radius-xlarge;

        &::before{
            content: '';
            display: block;
            width: 100%;
            padding-top: 54%;
        }

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
    }

    .swiper-pagination-fraction{
        position: absolute;
        top: initial;
        left: initial;
        right: 1.6rem;
        bottom: 1.2rem;
        display: flex;
        align-items: center;
        gap: 0.1rem;
        padding: $space-2 $space-4;
        width: fit-content;
        font-size: $font-body-small;
        line-height: 1;
        color: rgba($color-white, 0.65);
        background-color: rgba($color-black, 0.6);
        border-radius: $border-radius-max;

        .swiper-pagination-current{
            color: $color-white;
        }
    }
}