@charset "UTF-8";
@import "../util";

//default
html{
    font-size: $body-fz;
    font-weight: 400;
    line-height: $line-height;
    color: $base-color;

    &[lang="ko-KR"], &[lang="ko"]{
        font-family: $font-family-ko;
    }
    &[lang="en"], *[lang="en"]{
        font-family: $font-family-en;
    }
    
    @media (max-width: 720px) {
        //font-size: $body-fz-mo;
    }
}

/* font */
.sec-tit{
    display: flex;
    align-items: center;
    color: var(--color-text-bolder);
    font-size: var(--typo-heading-h1);
    font-weight: 700;

    .btn{
        margin-left: auto;
    }
}
.title{
    &-xl{
        font-size: $font-heading-xlarge;
        font-weight: 700;
    }
    &-l{
        font-size: $font-heading-large;
        font-weight: 600;
    }
    &-m{
        font-size: $font-heading-medium;
        font-weight: 600;
    }
    &-s{
        font-size: $font-heading-small;
        font-weight: 600;
    }
}
.txt{
    &-m{
        font-size: $font-body-medium;
        font-weight: 600;
    }
    &-s{
        font-size: $font-body-small;
    }
    &-xs{
        font-size: $font-body-xsmall;
    }
}

/* color */
.c-point{
    color: $color-point !important;
}
.c-white{
    color: $color-white !important;
}

/* font-style */
.bold{
    font-weight: 700;
}


/* common */
img{
    width: 100%;
}

/* blind */
.blind {
    @include blind();
}