@charset "UTF-8";
@import "src/styles/util/variables";
@import "src/styles/util/mixins";

$fonts-ko: (R: 400, M: 500, SB: 600, B: 700);
$fonts-en: (Regular: 400, Medium: 500, SemiBold: 600, Bold: 700);

@each $font, $weight in $fonts-ko{
    @font-face{
        @include font('AppleSDGothicNeo', 'AppleSDGothicNeo#{$font}', 'woff2', #{$weight});
        font-style: normal;
    }
}

@each $font, $weight in $fonts-en{
    @font-face{
        @include font('Pretendard', 'Pretendard-#{$font}', 'woff', #{$weight});
        font-style: normal;
    }
}
